@import '../../styles/base/settings';
@import '../../styles/base/base';
.button-primary {
  background: white;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  border: none;
  padding: 2rem 2.5rem;
  border-radius: 3px;
  margin: $m-size auto;
  font: 500 1.4rem/1.2rem 'Roboto', Helvetica, sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: uppercase;
  color: $primary;
  transition: 0.2s ease-in-out;
}

.left-icon {
  margin-right: 10px;
}

.arrow {
  margin-left: 10px;
  transition: 0.2s ease-in-out;
}

.button-primary:hover {
  background: white;
  color: $primary;
  .arrow {
    transform: translate(0.5em, 0);
  }
}

@media (min-width: 720px) {
  .button-primary {
    width: unset;
    margin: $xl-size $m-size;
  }
}