@import '../../styles/base/settings';
@import '../../styles/base/base';
.accommodation-header {
  background: url('./images/accommodation.jpg');
  background-position: center;
  background-size: cover;
}

.accommodation-content {
  h3,
  p {
    text-align: left;
  }
  ul {
    max-width: 800px;
    margin: 0 auto $l-size;
  }
  li {
    text-align: left;
    color: $primary;
  }
}

.button-about {
  display: inline-block;
  max-width: 300px;
}

@media (min-width: $tablet) {
  .accommodation-content>div {
    padding: $l-size;
  }
}