@import '../../styles/base/settings';
@import '../../styles/base/base';
.eat-drink-page {
  @extend %page-wrapper;
  min-height: unset;
}

.content-container {
  @extend %content-container;
  min-height: unset;
  p {
    text-align: left;
    margin-bottom: 20px;
    color: rgba($primary, .75);
  }
}

.eat-drink-header {
  background: url('./images/eat-drink.jpg');
  background-position: center;
  background-size: cover;
}

.eat-drink-content {
  @extend %container-content-middle;
  align-items: center;
  justify-content: center;
}

.eat-drink-content>div {
  background: $background-container;
  padding: $l-size $m-size;
}

.button-about {
  display: inline-block;
  max-width: 300px;
}

@media (min-width: 720px) {
  .eat-drink-content>div {
    padding: $l-size;
  }
}