@import '../../styles/base/settings';
@import '../../styles/base/base';
.eat-drink-header {
  background: url('./images/eat-drink.jpg');
  background-position: center;
  background-size: cover;
}

@media (min-width: $tablet) {}

@media (min-width: $desktop) {}