@import '../../styles/base/settings';
@import '../../styles/base/base';
.social-header {
  background: url('./images/social.jpg');
  background-position: center;
  background-size: cover;
}

.instagram {
  height: 100%;
}

@media (min-width: $tablet) {}