@import '../../styles/base/settings';
@import '../../styles/base/base';
.about-page {
  background: $page-background;
  @extend %page-wrapper;
}

.content-container {
  @extend %content-container;
  p {
    text-align: left;
    margin-bottom: 20px;
    color: rgba($primary, .75);
  }
}

.about-header {
  background: $about !important;
}

.about-content {
  @extend %container-content-middle;
  align-items: center;
}

.about-content div:nth-child(2) {
  background: $background-container;
  padding: $l-size $m-size;
}

.profile {
  width: 175px;
  text-align: center;
  max-width: 100%;
  margin: 5px auto $m-size;
}

.quote {
  font: 400 2rem/3.2rem 'Roboto', Helvetica, sans-serif;
  width: 350px;
  letter-spacing: 0.5px;
  font-style: italic;
  text-align: center !important;
  margin: 0 auto;
}

.about-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-linkedin svg {
  width: 30px;
  fill: $primary;
  cursor: pointer
}

.github-linkedin svg:hover {
  opacity: 0.8;
}

.linkedin {
  margin-top: 6px;
  margin-right: 20px;
}

@media (min-width: 720px) {
  .about-content>div {
    padding: 20px;
    width: 50%;
  }
  .profile {
    width: 250px;
    margin-bottom: $xl-size;
  }
  .about-content div:nth-child(2) {
    padding: $l-size;
  }
  .about-links {
    flex-direction: row;
  }
}