@import '../../styles/base/settings';
@import '../../styles/base/base';
.page-header {
  background: $secondary;
  position: relative;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  min-height: 300px;
  text-align: center;
  z-index: -1;
  padding: 0 $s-size;
  p {
    font: 400 1.6rem/2.75rem 'Roboto', helvetica, sans-serif;
    color: white;
    margin: 0 auto;
    margin-top: $m-size;
    width: 600px;
    max-width: 100%;
  }
}

.page-header-content {
  height: auto;
}

.page-header-spacer {
  display: block;
  content: "";
  height: 40vh;
  min-height: 300px;
  width: 100%;
}

.page-header::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
}

@media (min-width: $desktop) {}