@import '../../styles/base/settings';
@import '../../styles/base/base';
.hero-container {
  position: relative;
  background: url('images/background.jpg');
  background-size: cover;
  height: 90vh;
  text-align: center;
  display: flex;
}

.hero-container::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.hero-content {
  margin: auto;
  max-width: 100%;
  z-index: 10;
  padding: $s-size;
}

.secondary-hero-container {
  display: flex;
  flex-direction: column;
  h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    text-align: center;
  }
  .whats-on {
    position: relative;
    background: url('images/whats-on.jpg');
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out;
    height: 500px;
  }
  .functions {
    position: relative;
    background: url('images/background.jpg');
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out;
    height: 500px;
  }
  .whats-on:hover,
  .functions:hover {
    border: 2px solid #ddbd5c;
  }
  .whats-on::before,
  .functions::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
  }
}

.button-hero {
  margin-top: $xl-size;
}

@media (min-width: $tablet) {}

@media (min-width: $desktop) {
  .secondary-hero-container {
    flex-direction: row;
    >a {
      width: 50%;
    }
  }
}