@import '../../styles/base/settings';
@import '../../styles/base/base';
.hero-container {
  position: relative;
  background: url('images/background.jpg');
  background-size: cover;
  height: 90vh;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  align-content: center;
}

.hero-container::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.hero-content {
  margin: auto;
  max-width: 100%;
  z-index: 10;
  padding: $s-size;
  img {
    max-width: 100%;
  }
  h1 {
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  }
  p {
    font: 400 2rem/3rem 'Roboto', helvetica, sans-serif;
    color: white;
    width: 500px;
    max-width: 100%;
    margin: 0 auto
  }
}

.secondary-hero-container {
  display: flex;
  flex-direction: column;
  >div {
    width: 100%;
    position: relative;
    height: 500px;
    h2 {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 100px;
      text-align: center;
    }
    img {
      object-fit: cover;
      width: 100%;
    }
  }
  .whats-on {
    background: url('images/whats-on.jpg');
    background-position: center;
    background-size: cover;
  }
  .functions {
    background: url('images/background.jpg');
    background-position: center;
    background-size: cover;
  }
  div::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
  }
}

.button-hero {
  margin-top: $xl-size;
}

@media (min-width: $tablet) {}

@media (min-width: $desktop) {
  .secondary-hero-container {
    flex-direction: row;
    >div {
      width: 50%;
    }
  }
}