@import '../../styles/base/settings';
@import '../../styles/base/base';

.contact-header {
  background: url('./images/contact.jpg');
  background-position: center;
  background-size: cover;
}

.contact p {
  width: 600px;
}

form {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  max-width: 100%;
}

input[type=text] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
textarea,
  {
  display: block;
  width: 600px;
  max-width: 100%;
  background: rgba(255, 255, 255, .4);
  border-radius: 3px;
  padding: $m-size;
  color: $primary;
  letter-spacing: 0.5px;
  border: none;
  margin: 10px auto !important;
  font: 300 1.6rem/2rem 'Open Sans', Helvetica, sans-serif !important;
  border: 1px solid #e5e5e5;
}

input:focus,
textarea:focus {
  background: white;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: lighten($primary, 40%);
  font-weight: 300;
  letter-spacing: 0.5px;
}

textarea {
  min-height: 200px;
}

@media (min-width: $tablet) {}