@import '../../styles/base/settings';
@import '../../styles/base/base';
.burger-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.Burger {
  padding: 15px !important;
}

.bm-cross-button {
  button {
    display: none;
  }
}

.logo-sidebar-container {
  margin: 0px !important;
  background: darken($primary, 10%);
  height: 70px;
  padding: 20px !important;
}

.logo-sidebar {
  max-width: 240px !important;
  padding: 0 !important;
  margin: 0px 0 0 50px !important;
  text-align: right !important;
}

#sidebar {
  background: $primary;
  z-index: 900 !important;
  margin-top: 70px;
}

.bm-item {
  padding: 25px;
  margin: 0;
  font: normal 1.4rem 'Open Sans', Helvetica, sans-serif;
  color: white;
  border-top: 1px solid #272727;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 999 !important;
}

a.bm-item:hover {
  color: $secondary;
  opacity: 1;
  background: rgba(255, 255, 255, .05);
}

.bm-overlay {
  display: none !important;
}

@media (min-width: $tablet) {
  .burger-container {
    width: 50px;
    height: 50px;
    display: none;
  }
}