@import '../../styles/base/settings';
@import '../../styles/base/base';
.burger-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.Burger {
  padding: 15px !important;
}

.bm-cross-button {
  button {
    display: none;
  }
}

.logo-sidebar-container {
  margin: 0px !important;
  background: darken($primary, 10%);
  height: 70px;
}

.logo-sidebar {
  max-width: 240px !important;
  padding: 0 !important;
  margin: 15px 0 0 50px !important;
  text-align: right !important;
}

#sidebar {
  background: $primary;
  z-index: 900 !important;
  margin-top: 0;
}

.bm-item {
  padding: 5px 25px;
  margin: 25px 0;
  font: normal 1.8rem 'Roboto', Helvetica, sans-serif;
  color: white;
  z-index: 999 !important;
}

.bm-item:hover {
  color: $secondary;
}

@media (min-width: $tablet) {
  .burger-container {
    width: 50px;
    height: 50px;
    display: none;
  }
}