@import '../../styles/base/settings';
@import '../../styles/base/base';
.whats-on-header {
  background: url('./images/whats-on.jpg');
  background-position: center;
  background-size: cover;
}

.whats-on-content {
  h4 {
    margin: $s-size;
    text-align: center;
  }
}

.whats-on-image {
  max-width: 100%;
}

.whats-on-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  >div {
    background: $background-container;
    margin: $s-size 0;
  }
  p {
    padding: $s-size $s-size $m-size;
  }
}

@media (min-width: $tablet) {
  .whats-on-content {
    >div {
      width: calc(50% - (2* 1.2rem));
      margin: $s-size;
    }
  }
}

@media (min-width: $desktop) {
  .whats-on-content>div {
    width: calc(33.33% - (2*1.2rem));
  }
}