@import '../../styles/base/settings';
@import '../../styles/base/base';
.functions-header {
  background: url('./images/functions.jpg');
  background-position: center;
  background-size: cover;
}

.functions-content {
  h4 {
    text-align: center;
  }
}

.partystar {
  display: block;
  width: 200px;
  margin: $l-size auto;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.partystar:hover {
  opacity: 1;
}

@media (min-width: $tablet) {}