@import '../../styles/base/settings';
@import '../../styles/base/base';
.functions-page {
  @extend %page-wrapper;
  min-height: unset;
}

.content-container {
  @extend %content-container;
  min-height: unset;
  p {
    margin-bottom: 20px;
    color: rgba($primary, .75);
  }
}

.functions-header {
  background: url('./images/functions.jpg');
  background-position: center;
  background-size: cover;
}

.functions-content {
  @extend %container-content-middle;
  align-items: center;
  justify-content: center;
}

.functions-content>div {
  background: $background-container;
  padding: $l-size $m-size;
}

.button-about {
  display: inline-block;
  max-width: 300px;
}

.partystar {
  display: block;
  width: 200px;
  margin: $l-size 0;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.partystar:hover {
  opacity: 1;
}

@media (min-width: $tablet) {
  .functions-content>div {
    padding: $l-size;
  }
}