@import '../../styles/base/settings';
@import '../../styles/base/base';
footer {
  display: block;
  background: darken($primary, 2%);
  max-width: 100%;
  padding: $xl-size 0;
  z-index: 999;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: $xl-size $l-size;
  h6 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  p,
  a {
    display: block;
    color: rgba(255, 255, 255, .7);
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 100;
    margin: 0;
    letter-spacing: 0.5px;
    width: auto;
  }
}

.stolberg-logo {
  fill: white;
  width: 140px;
  margin: $s-size 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1200px;
  max-width: 100%;
  align-content: center;
  margin: 0 auto;
  margin-top: $l-size;
  padding: $m-size $l-size;
  p {
    color: rgba(255, 255, 255, .3);
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 100;
    margin: 0;
  }
  p:nth-child(2) {
    text-align: right;
  }
}

@media (min-width: $tablet) {
  footer {
    max-width: calc(100vw - 230px);
    margin-left: 230px;
  }
  .footer-content {
    flex-direction: row;
  }
}