@import '../../styles/base/settings';
@import '../../styles/base/base';
.work-header {
  background: $work !important;
}

.work-container {
  @extend %page-wrapper;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.work-content {
  @extend %container-content-middle;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100% !important;
  h3 {
    margin: 0 0 $s-size;
    color: $primary;
  }
  p {
    color: rgba($primary, .75);
  }
  .button-primary {
    margin: 0;
  }
}

.video {
  display: none;
}

.image {
  width: 1200px;
  max-width: 100%;
  margin: $m-size 0;
}

.work-description {
  width: 475px;
  max-width: 100%;
  padding: 0;
  text-align: left;
  margin: $m-size;
}

.work-list {
  list-style-type: none;
  padding: 10px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  li {
    color: rgba($primary, .75);
    font-weight: 400;
    display: inline-block;
    padding: 7px 10px;
    margin: 5px 10px 5px 0;
    border: 1px solid rgba($primary, .5);
  }
}

.work-primary {
  background: lighten($work, 30%);
  z-index: 10;
}

.work-secondary {
  background: lighten($work, 20%);
}

.fa-angle-up,
.fa-angle-down {
  font-size: 30px;
  color: rgba($primary, .5);
  margin: $m-size auto;
}

@media (min-width: 720px) {
  .work-container {
    min-height: 100vh;
  }
  .work-content {
    flex-direction: column;
  }
  .work-description {
    margin: 0;
    margin-left: $l-size;
  }
  .video {
    display: block;
    margin: $xl-size 0;
    width: 100%;
    max-height: 100%;
    max-width: 100% !important;
  }
  .image {
    display: none;
  }
  .fa-angle-up,
  .fa-angle-down {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    transition: 0.2s ease-in-out;
  }
  .fa-angle-up {
    top: -50px;
  }
  .fa-angle-down {
    bottom: -50px;
  }
  .fa-angle-up:hover,
  .fa-angle-down:hover {
    color: $primary;
  }
}

@media (min-width: 920px) {
  .work-content {
    flex-direction: row;
  }
}