@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');
// General
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #212121;
  font: 100 1.6rem/2.5rem 'Open Sans', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

// Text
h1 {
  font: 400 6rem/7rem 'Euphoria Script', cursive;
  padding: 0;
  margin: $m-size 0;
  color: white;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

h2 {
  font: 300 5rem/7rem 'Open Sans', Helvetica, sans-serif;
  color: $primary;
  padding: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font: 400 4rem 'Euphoria Script', cursive;
  color: lighten($primary, 20%);
  padding: 0;
  margin: $m-size 0;
  letter-spacing: 0.5px;
}

h4 {
  font: 1.6rem 'Open Sans', Helvetica, sans-serif;
  color: $secondary;
  margin: $m-size auto;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1.5px;
  max-width: 800px;
}

h5 {
  font: 1.7rem 'Open Sans', Helvetica, sans-serif;
  padding: 0;
  margin: $m-size 0 0;
}

h6 {
  font: 1.4rem 'Open Sans', Helvetica, sans-serif;
  color: white;
  padding: 0;
  margin: $m-size 0;
}

p {
  font: 300 1.4rem/2.4rem 'Open Sans', Helvetica, sans-serif;
  padding: 0;
  margin: $s-size auto;
  width: 800px;
  max-width: 100%;
  color: $primary;
  letter-spacing: 0.3px;
}

// Acitve + Hiding
.hide {
  display: none !important;
}

.is-active {
  color: $secondary !important;
  opacity: 1 !important;
  background: rgba(255, 255, 255, .05);
}

// Layout
.page-container {
  position: relative;
  max-width: 100%;
  overflow: hidden !important;
}

.section {
  padding: $l-size $s-size;
  background: $page-background;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.error {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

// Tablet
@media (min-width: 480px) {
  h1 {
    font-size: 10rem;
    line-height: 10rem;
  }
}

// Desktop
@media (min-width: $tablet) {
  .page-container {
    margin-left: 230px;
    max-width: calc(100% - 230px);
  }
  .page-header {
    max-width: calc(100% - 230px);
  }
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  h6 {
    margin-top: 0;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.5px;
  }
}

@media (min-width: $desktop) {
  .section {
    padding: $xxl-size 0;
  }
}