// Colours
$primary: #212121;
$secondary: #ddbd5c;
$page-background: #f1f1f1;
$background-container: #e5e5e5;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 10rem;
$xxxl-size: 13rem;
// Media Queries
$tablet: 720px;
$desktop: 1200px;